@model List<WebApplication1.Models.User>
@{
    ViewData["Title"] = "Uloha9 result";
}

@foreach(var user in Model)
{
    <h2>User Info</h2>
    <p><strong>Name:</strong> @user.Name</p>
    <p><strong>Surname:</strong> @user.Surname</p>
    <p><strong>Username:</strong> @user.Username</p>
    <p><strong>Email:</strong> @user.Email</p>
    <p><strong>Phone:</strong> @user.Tel</p>
    <p><strong>Address:</strong> @user.Address</p>
    <p><strong>Choroby:</strong> @user.ChorobyInput</p>
}
